@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-bg-color: #ecedef;
  --primary-color: #ffffff;
  --secondary-color: #f6f6fa;
  --secondary-dark-color: #6e41e2;
  --text-dark-color: #1f1f1f;
  --text-lighter-color: #b3b3b3;
  --text-light-color: #c1ccd1;
  --success-color: #46cb71;
  --error-color: #f81d1e;
  --info-color: #57a5ff;
  --rate-color: #feb501;
}
