@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-bg: #ecedef;
  --primary: #ffffff;
  --secondary: #f6f6fa;
  --secondary-dark: #6e41e2;
  --dark: #1f1f1f;
  --lighter: #b3b3b3;
  --light: #c1ccd1;
  --success: #46cb71;
  --error: #f81d1e;
  --info: #57a5ff;
  --rate: #feb501;
}
